{% extends 'base.html'%}

{% block css %}
<link href="{{MEDIA_URL}}css/style-index.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/index.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.isotope.min.js"></script>
{%endblock%}

{% block portal %}
<div class="portal">
	{% if user.is_authenticated %}
		<a href="/auth/logout/">Logout</a>
	{% else %}
		<a href="/login/">Login</a>
	{% endif %}
</div>
{% endblock %}



{% block header_left %}
			<div class="filterbar">
				<ul id="filters" class="option-set clearfix" data-option-key="filter">
				  <li><a href="#" data-filter="*">Show All</a></li>
				  <li id="countries">Countries</li>
				  <li id="categories">Categories</li>
				  <li id="people">People</li>
				  <li><a href="#" data-filter=".random">Random</a></li>
				</ul>
			</div>
			<div class="filterbar" id="countriesfilter">
				<ul id="filters" class="option-set clearfix" data-option-key="filter">
				  <li><a href="#" data-filter=".france">France</a></li>
				  <li><a href="#" data-filter=".spain">Spain</a></li>
				  <li><a href="#" data-filter=".bolivia">Bolivia</a></li>
				  <li><a href="#" data-filter=".china">China</a></li>
				  <li><a href="#" data-filter=".japan">Japan</a></li>
				  <li><a href="#" data-filter=".india">India</a></li>
				  <li><a href="#" data-filter=".uganda">Uganda</a></li>
				  <li><a href="#" data-filter=".botswana">Botswana</a></li>
				</ul>
			</div>
			<div class="filterbar" id="categoriesfilter">
				<ul id="filters" class="option-set clearfix" data-option-key="filter">
				  <li><a href="#" data-filter=".Food">Food</a></li>
				  <li><a href="#" data-filter=".Clothing">Clothing</a></li>
				  <li><a href="#" data-filter=".Beauty">Beauty</a></li>
				  <li><a href="#" data-filter=".Household">Household</a></li>
				  <li><a href="#" data-filter=".Recreation">Recreation</a></li>
				  <li><a href="#" data-filter=".Drink">Drink</a></li>
				</ul>
			</div>
			<div class="subfilterbar" id="peoplefilter">
				<ul class="subfilters" class="option-set clearfix" data-option-key="filter">
					to be articulated...
				</ul>
			</div>
{% endblock %}


{% block content_left %}
	{% if latest_item_list %}
		<ul class="items">
			{% for item in latest_item_list %}
			<a href="/item/{{item.id}}">
				<li class="item {{item.product_type}} {{item.location}}">
					<div class="title">{{item.title}}</div>
					<img class="prod_img" src="{{item.photourl}}" width="130" height="130"/>
				</li>
			</a>
			{%endfor%}
		</ul>
		<div style="clear: both;"></div>
	{% else %}
		<p>Problem getting Items...</p>
	{% endif %}

	<script type="text/javascript">
	
	$(function(){
	      
	      var $container = $('#content');
	
	      $container.isotope({
	        itemSelector : '.item',
	        layoutMode : 'fitRows'
	      });
	      
	      
			$('#filters a').click(function(){
				var selector = $(this).attr('data-filter');
				$container.isotope({ filter: selector });
				return false;
			});
	
	      
	    });
	</script>
{% endblock %}


