{% extends 'base.html'%}


{% block head %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link href="{{STATIC_URL}}css/style_item.css" rel="stylesheet" type="text/css" />
<link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
	var address = "{{item.location}}";
	var isFollowing = parseInt('{{isFollowing}}');
	var itemUserId = {{item.user.user.id}};
	var voter = {{user.id}};
	{% if hasVoted == False %}
	console.log("False");
	var hasVoted = false;
	{% else %}
	console.log("True");
	var hasVoted = true;
	{% endif %}
	
	$(document).ready(function() {
	    media = '{{MEDIA_URL}}';
	    $('div.comment-form form').submit(function() {
	        ajaxComment({'media': media});
	        return false;
    });
});
</script>
<script type="text/javascript" src="{{STATIC_URL}}js/loadMap.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/item.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/follow.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/vote.js"></script>
<script src="{{ MEDIA_URL }}ajaxcomments/js/post-comment.js" type="text/javascript"></script>

{% endblock %}



{% block portal %}
<div class="portal">
	{% if user.is_authenticated %}
		<a href="/auth/logout/">Logout</a>
	{% else %}
		<a href="/login/">Login</a>
	{% endif %}
</div>
{% endblock %}




{% block content %}
{% if item %}
	<div class="itemfull">
		<div class="itemfullphoto">
			<img src="{{item.photourl}}" alt="{{item.title}}"/>
			<div id="map_canvas" style="width:100%; height:200px; float: right;"></div>
		</div>
		<div class="itemfulltitle">
			{{item.title}}	
			{% if user.is_authenticated %}
				{% if user != item.user.user %}
					{% if hasVoted == True %}
					<div id="votearea">
						{{item.vote_set.count}} Vote{{item.vote_set.count|pluralize}}
						<div>You have Voted.</div>
					</div>
					{% else %}
					<div id="votearea">
						{{item.vote_set.count}} Vote{{item.vote_set.count|pluralize}}
						<button type="submit" class="votebutton">Vote</button>
					</div>
					{%endif%}
				{% else %}
				<div id="votearea">
					Your Item hase been voted on {{item.vote_set.count}} time{{item.vote_set.count|pluralize}}
				</div>				
				{% endif %}
			{% else %}
			{% endif %}
		</div>
		<div class="itemfullpost">
			{{item.post}}
		</div>
		{% if user.is_authenticated %}
			{% if user != item.user.user %}
			<div class="postedby">
				Posted by <a id="user" href="/passport/{{item.user.user.id}}/">{{item.user.user.username}}</a> 
			</div>
				{% if isFollowing == 1 %}
				<button type="submit" class="followbutton">Follow</button>
				{% else %}
				<button type="submit" class="unfollowbutton">Unfollow</button>	
				{% endif %}
			{% else %}
			<div class="postedby">This item was uploaded by you.</div>		
			{% endif %}
		{% else %}
			<div class="postedby">
				Posted by <a id="user" href="/passport/{{item.user.user.id}}/">{{item.user.user.username}}</a> 
			</div>
			
			<form action="/login/">
				<button type="submit" id="loginbutton">login</button>
			</form>			
		{% endif %}	
	</div>
{% else %}
	<p>Item doesn't exist.</p>
{% endif %}



{% load comments %}
{% render_comment_form for item %}
{% render_comment_list for item %}



{% endblock %}



