{% extends 'base.html'%}


{% block head %}

{% endblock %}



{% block portal %}
<div class="portal">
	{% if user.is_authenticated %}
		<a href="/auth/logout/">Logout</a>
	{% else %}
		<a href="/login/">Login</a>
	{% endif %}
</div>
{% endblock %}



{% block content %}
	<div class="passportform">
		{% if error %}
		<p class="formerror">   
		{{ error }}
		</p>   
		{% endif %}
		<form method="post" action=".">
			{% csrf_token %}
			{{form.as_p}}
			<button type="submit" id="passportbutton">Save Changes</button>
		</form>
	</div>
{% endblock %}




