<div class="comment_start"></div>
{% for comment in comment_list %}
	<div class="comment">
		<div class="commentcontent">
			<div class="userinfo">
				<div class="commentavatar">
					<img src="{{MEDIA_URL}}img/blank_avatar.png" alt="avatar" class="avatarsmall"/>
				</div>
				<div class="commentuser">
					<a href="/passport/{{comment.user.id}}">{{ comment.user }}</a>
				</div>
			</div>
			<div class="commentcomment">
			{{ comment.comment }}
			</div>

		</div>
		<div class="commentmeta">
			<div class="commentdate">
			{{ comment.submit_date|timesince }} ago
			</div>
			<div><a>Recommend</a></div>
			<div><a>Flag</a></div>
			<div><a>Link</a></div>
		</div>
	</div>
{% endfor %}